.wireframe-4,
.wireframe-4 * {
  box-sizing: border-box;
}
.wireframe-4 {
  background: #ffffff;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.rectangle-22 {
  background: #a7c6e2;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.rectangle-4 {
  background: #e6eef1;
  width: 707px;
  height: 1080px;
  position: absolute;
  left: 312px;
  top: 0px;
}
.frame-7 {
  padding: 67px 11px 67px 11px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 652.06px;
  height: 918.82px;
  position: absolute;
  left: 351.14px;
  top: 49px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  width: 350px;
  height: 55px;
}
._2023-15-3-099-435-5-5 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  width: 596px;
  height: 56px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: #e6eef1;
  width: 686px;
  height: 1080px;
  position: absolute;
  left: 1003px;
  top: 0px;
}
.image {
  width: 633.01px;
  height: 1114.65px;
  position: absolute;
  left: 1003px;
  top: 0px;
  object-fit: cover;
}
._2023-1-042-493-5-0-14-3 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 1003px;
  top: 199.01px;
  width: 628.77px;
  height: 84.68px;
}
