.wireframe-2,
.wireframe-2 * {
  box-sizing: border-box;
}
.wireframe-2 {
  background: rgba(167, 198, 226, 0.6);
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.rectangle-22 {
  background: #a7c6e2;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 360px;
  top: 97px;
  width: 608px;
  height: 60px;
}
.rectangle-23 {
  background: rgba(217, 217, 217, 0.3);
  width: 1365px;
  height: 1080px;
  position: absolute;
  left: 277px;
  top: 0px;
}
._2023-14-594-501-12-686-664-15-0-8-1 {
  color: #000000;
  text-align: left;
  font-family: "NotoSans-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 360px;
  top: 185px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
